.background {
  background-image: linear-gradient(to right, rgba(9, 20, 40,0.8), rgba(10, 20, 40,0.8));
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.input-group {
  padding-top: 10%;
  overflow-y: auto;
}

.input-item {
  width: 70%;
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #ffd700;
  border-radius: 5px;
}

.input-container {
  width: 80%;
}

.input-container input {
  outline: 0;
}

.send-button {
  border: 1px solid gold;
  background-color: #333;
  color: gold;
  border-radius: 5rem;
  cursor: pointer;
}

.suggestion {
  background-color: transparent;
  width: 100%;
  outline: 0;
  border: 0;
  color: gold;
}

.div-suggestion {
  cursor: pointer;
  margin: 1rem 0;
  border: 1px solid gold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.suggestions-container {
  position: relative;
  overflow-y: auto;
  margin-top:-22px;
  /* max-height: 280px; */
  background-color: #333;
  width: 100%;

}

.input {
  height: 50vh;
}